@import 'base/variables';
@import 'base/animation';
@import 'base/mixins';

* {
    font-family: 'Commissioner', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.grey {
    background-color: #E5E5E5;
    height: 2490px;

    &-second {
        height: 2130px;
        padding-top: 81px;

        img {
            width: 100vw;
        }
    }

    &-last {
        height: 2225px;
    }
}

@import 'blocks/header';
@import 'blocks/slider';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/introduction';
@import 'blocks/directions';
@import 'blocks/carousel';
@import 'blocks/feedback';
@import 'blocks/clients';
@import 'blocks/about';
@import 'blocks/services';
@import 'blocks/trust';
@import 'blocks/_excellence';
@import 'blocks/cooperation';
@import 'blocks/form';
