.clients {
  margin: 100px auto 93px;

  &__info {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-right: 200px;

    &-text {
      width: 670px;
      font-family: Lato,sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 15px;
      line-height: 25px;
      color: rgba(0, 0, 0, 0.5);
      letter-spacing: 0.1px;
    }
  }

  &__logos {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 1px;

    &-uncolored {
      margin-top: 7px;
      filter: grayscale(100%); 
      height: 100%;

      &:nth-child(2) {
        margin-top: 1px;
      }
    }
  }
}

@media screen and (max-width: 1368px) {
  .clients {
    padding-left: 20px;
    padding-right: 20px;
  
    &__info {
      padding-right: 0px;
  
      &-text {
        text-align: justify;
      }
    }
  
    &__logos {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

@media screen and (max-width: 992px) {
  .clients {
  
    &__info {
  
      &-text {
        width: 440px;
      }
    }
  
    &__logos {
      justify-content: center;
      flex-wrap: wrap;
      column-gap: 59px;
      row-gap: 30px;
    }
  }
}

@media screen and (max-width: 768px) {
  .clients {
  
    &__info {
      padding-right: 0;
  
      &-text {
        width: 280px;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .clients {
  
    &__info {
      justify-content: center;
      flex-direction: column;
  
      &-text {
        width: 100%;
        margin-bottom: 20px;
      }
    }
  
    &__logos {
      flex-wrap: wrap;
      column-gap: 0;
      row-gap: 0;
  
      &-uncolored {

        &:nth-child(3) {
          width: 250px;
        }
      }
    }
  }
}
