.clients {
  margin: 100px auto 93px;

  &__info {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-right: 200px;

    &-text {
      width: 670px;
      font-family: Lato,sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 15px;
      line-height: 25px;
      color: rgba(0, 0, 0, 0.5);
      letter-spacing: 0.1px;
    }
  }

  &__logos {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 1px;

    &-uncolored {
      margin-top: 7px;
      filter: grayscale(100%); 
      height: 100%;

      &:nth-child(2) {
        margin-top: 1px;
      }
    }
  }
}

@media screen and (max-width: 1368px) {
  .clients {
    padding-left: 20px;
    padding-right: 20px;
  
    &__info {
      padding-right: 0px;
  
      &-text {
        text-align: justify;
      }
    }
  
    &__logos {
      padding-right: 0;
      padding-left: 0;
    }
  }
}