.cooperation {
  width: 1170px;
  height: 365px;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;

  &__steps {
    display: flex;
    flex-direction: column;
  }

  &__info {
    width: 500px;
    height: 365px;

    &-title {
      font-family: Commissioner, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 28px;
      line-height: 40px;
      letter-spacing: 0.03em;
      color: rgba(0, 0, 0, 0.9);
      margin-top: -2px;
      margin-bottom: 35px;
    }

    &-step {
      width: 400px;
      height: 75px;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 0.4px;
      align-items: center;
      color: rgba(0, 0, 0, 0.8);
      margin-bottom: 30px;
      margin-left: 100px;
      position: relative;
    }

    &-circle {
      width: 70px;
      height: 70px;
      left: -100px;
      top: 3px;
      position: absolute;
      font-family: Commissioner, sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 22px;
      line-height: 67px;
      text-align: center;
      color: $accent-color;
      border: 1px solid $accent-color;
      border-radius: 100%;
    }

    &-text {
      font-family: Lato,sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 25px;
      letter-spacing: 0.01em;
      color: rgba(0, 0, 0, 0.8);
      margin-top: 5px;
    }
  }
}

.cooperation__cost {
  width: 670px;
  height: 220px;
  margin-top: 99px;
  margin-bottom: 100px;

  &-title {
    font-family: Commissioner, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0.03em;
    color: rgba(0, 0, 0, 0.9);
  }

  &-text {
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.1px;
    color: rgba(0, 0, 0, 0.8);
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1368px) {
  .cooperation {
    width: 100%;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    flex-wrap: wrap;

    &__form {
      margin-top: -80px;
    }
  
    &__steps {
      flex-direction: row;
      width: 100%;
    }
  
    &__info {
      width: 100%;
    }
  }
  
  .cooperation__cost {
    width: 500px;
    margin-top: 330px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 768px) {
  .cooperation {

    &__form {
      margin-top: 10px;
    }
  
    &__info {
  
      &-text {
        margin-top: 95px;
      }
    }
  }
  
  .cooperation__cost {
  
    &-title {
      width: 500px;
      margin-top: 400px;
    }
  
    &-text {
      width: 500px;
    }
  }
}

@media screen and (max-width: 576px) {
  .cooperation {
    margin-top: 50px;
  
    &__steps {
      flex-direction: column;
      width: 100%;
    }
  
    &__info {
      height: 540px;
  
      &-step {
        width: 100%;
        margin-left: 30px;
      }
  
      &-circle {
        width: 35px;
        height: 35px;
        line-height: 33px;
      }
  
      &-text {
        margin-top: 30px;
      }
    }
  }
  
  .cooperation__cost {
    width: 300px;
    height: 580px;
    padding: 10px;
  
    &-title {
      margin-top: 270px;
      width: 300px;
      font-size: 20px;
      line-height: 30px;
    }
  
    &-text {
      width: 300px;
    }
  }
}