.header {
  width: 100vw;
  height: 150px;
  background: #FFFFFF;
  padding-top: 15px;
  padding-bottom: 20px;
  padding-left: 38px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__phones {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__lang {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 142px;
    height: 20px;
    opacity: 0.7;
    margin-right: 46px;
    margin-left: 11px;
    padding-left: 7px;

    &-current {
      font-family: Source Sans Pro, sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 20px;
      color: rgba(0, 0, 0, 0.8);
    }

    &-change {
      font-family: Source Sans Pro, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: rgba(0, 0, 0, 0.8);
      cursor: pointer;
    }

    &-menu {
      margin-bottom: 4px;
      cursor: pointer;
    }
  }

  &__eye {
    position: absolute;
    left: calc((100% - 35px) / 2);
    top: 10px;
    cursor: pointer;
  }

  &__contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 433px;
    height: 20px;
    padding-right: 15px;

    &-first {
      text-decoration: none;
      font-family: Commissioner, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.5);
      margin-right: -3px;
    }

    &-second {
      text-decoration: none;
      font-family: Commissioner, sans-serif;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.5);
    }

    &-link {
      margin-left: -11px;
      margin-right: -8px;
    }
  }

  &__nav {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  &__logo {
    margin-left: -20px;
  }

  &__navigation {
    width: 739px;
    height: 20px;
    margin-right: -44px;
    margin-bottom: 13px;

    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style-type: none;
    }

    &-link {
      font-family: Commissioner, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.75);
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
        transition: transform .3s ease-in-out;
      }
    }
  }
}

@media screen and (max-width: 1368px) {
  .header {
    padding: 15px 0 20px;
  
    &__lang {
      margin-right: 6px;
    }
  
    &__contacts {
      padding-right: 0;
      margin-right: -100px;
    }
  
    &__nav {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    &__logo {
      margin-left: 0px;
    }
  
    &__navigation {
      width: 550px;
      margin-right: 25px;
    }
  }
}