.introduction {
  display: flex;
  height: 645px;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  margin-top: 100px;

  &__info {
    padding: 48px 60px 60px 70px;

    &-subtitle {
      width: 540px;
      font-family: Commissioner, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 28px;
      line-height: 40px;
      letter-spacing: 0.03em;
      color: rgba(0, 0, 0, 0.9);
    }

    &-title {
      width: 530px;
      font-family: Commissioner, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 28px;
      line-height: 40px;
      letter-spacing: 0.03em;
      color: rgba(0, 0, 0, 0.9);
      margin-bottom: 30px;
      margin-left: 5px;
    }

    &-text {
      width: 470px;
      letter-spacing: 0.17px;
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 15px;
      line-height: 25px;
      color: rgba(0, 0, 0, 0.5);
      margin-bottom: 25px;
    }
  }
}

@media screen and (max-width: 1368px) {
  .introduction {
  
    &__info {
      padding: 25px 20px 60px 20px;
      width: 460px;
  
      &-subtitle {
        width: 520px;
      }
  
      &-title {
        margin-left: -3px;
      }
  
      &-text {
        width: 434px;
        text-align: justify;
      }
    }
  }
}