.slider {
  // width: 1920px;
  width: 100vw;
  height: 650px;
  padding-top: 160px;
  // background: url("../../img/header-slider/Rectangle.png") center (center/cover) no-repeat;
  background: url("../img/header-slider/Rectangle.png") center (center/cover) no-repeat;

  .container {
    height: 100%;
    position: relative;
  }

  h1 {
    width: 500px;
    font-family: Commissioner, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 0.9);
    margin-bottom: 20px;
  }

  p {
    font-family: Lato, sans-serif;
    letter-spacing: 0.34px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 50px;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    width: 120px;
    height: 60px;
    padding: 24px;
    bottom: 30px;
    position: absolute;
    bottom: 103px;

    &-left {
      cursor: pointer;
      // position: absolute;
      // right: 85px;

      &:hover {
        transform: scale(1.2);
        transition: transform .3s ease-in;
      }
    }

    &-right {
      cursor: pointer;
      // position: absolute;
      // right: 25px;

      &:hover {
        transform: scale(1.2);
        transition: transform .3s ease-in;
      }
    }
  }
}